@mixin none-border {
  border: none;
  border-color: none !important;
  box-shadow: none !important;
}

@mixin no-scroll-bar {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin scroll-bar-style($width) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
  }
}
